/* NavBar sayfası */

.main-layout {
  height: 100vh;
}

.main-layout nav {
  background-color: #000000c9;
  padding: 20px 126px;
}

.main-layout nav .back-color {
  background-color: #000000ab;
}

.main-layout nav ul li {
  list-style: none;
}

.main-layout nav a{
  list-style: none;
  text-decoration: none;
  padding: 0px 5px;
  font-size: 20px;
  color: white;
}

/*Home*/
.bg-img-1 {
  background-image: url("../public/img/bahce1.jpg")
}
.bg-img-2 {
  background-image: url("../public/img/bahce2.jpg")
}
.carousel-image {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home .carousel-head h1 {
  padding: 150px 0px 200px 0px;
}

.garden-wall:hover {
  transition: .4s;
  transform: scale(1.1);
}

.garden-wall {
  /* background-image: url("../public/img/duvar1.jpg"); */
  height: 300px;
  background-size: cover;
  border-radius: 25px;
}

.carousel-item img {
  margin: 0 auto; /* this will align the image to center. */
  width: auto; /* for those images which don't have a width specified, but has a max-height will be auto adjusted */
}

.home-info button {
  border: 1px solid black;
  border-radius: 3px;
  width: 100px;
  background-color: black;
  opacity: 1;
  color: white;
}

.img-trans {
  opacity: 0.8;
}

/* contact */
.main-layout .contact {
  padding-top: 80px;
}
.main-layout .contact .info{
  margin: 100px 50px;
}

/* About */
.main-layout .about {
  padding-top: 80px;
}
.about-bg {
  background-image: url("../public/img/about1.jpg");
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}
/* footer */
.footer {
  background-color: black;
}

.footer ul {
  padding: 0px;
}

.footer li {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: white;
}

/* Home İnfo Detail Page */
.info-detail {
  margin: 150px 0px 0px 0px
}